[Desktop Entry]
Version=0.1.0
Type=Application
Name=X-Live FlatMan
Name[de]=X-Live FlatMan
Comment=Software Manager for Flatpak applications
Comment[de]=Software-Manager für Flatpak-Anwendungen
Exec=x-live-flatman
Icon=x-live-flatman
Categories=Utility;System;
Keywords=flatpak;flathub;container;sandbox;software;
StartupNotify=true
X-GNOME-UsesNotifications=true
GenericName=Flatpak Manager
GenericName[de]=Flatpak-Verwalter
