[Desktop Entry]
Version=0.1.3
Type=Application
Name=Software Manager
Comment=Software Manager for Flatpak applications
Comment[de]=Software-Manager für Flatpak-Anwendungen
Exec=x-live-flatman
Icon=x-live-flatman
Categories=Utility;System;
Keywords=flatpak;flathub;container;sandbox;software;program,app,apps,programme,aplication,aplokation
StartupNotify=true
X-GNOME-UsesNotifications=true
GenericName=Software Manager
